<table class="table" style="width: 70%">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gender</th>
    <th>Birthday</th>
    <th>Hire Date</th>
    <th colspan="2" style="text-align: center">Action</th>
  </tr>
<tr>
      <td><%= @employee.first_name %></td>
      <td><%= @employee.last_name %></td>
      <td><%= @employee.gender %></td>
      <td><%= @employee.birth_date %></td>
      <td><%= @employee.hire_date %></td>
      <td><%= link_to 'Edit', edit_employee_path(@employee) %></td>
      <td><%= link_to 'Delete', employee_path(@employee), method: :delete, data: {confirm: "delete?"} %></td>
 </tr>
 </table>
 <table class="table" style="width: 70%">
  <tr>
    <th>Salary</th>
    <th>From Date</th>
    <th>To Date</th>
  </tr>
<tr>
      <% @employee.salaries.each do |period| %>
	    <tr>
	      <td><%= number_to_currency(period.salary) %></td>
	      <td><%= period.from_date %></td>
	      <td><%= period.to_date %></td>
	    </tr>
  	  <% end %>
 </tr>
 </table>